---
const listClass =
  'flex-shrink font-sans text-xl mx-4 hover:text-programer-peach transition-colors duration-300 ease-in-out'
---

<ul class="hidden xl:flex xl:flex-row flex-none items-center justify-center">
  <li class={listClass}><a href="/">Home</a></li>
  <li class={listClass}><a href="/about">About</a></li>
  <li class={listClass}><a href="/blog">The Guy Wire</a></li>
  <li class={listClass}><a href="/renaissance-guy">Renaissance Guy</a></li>
  <li class={listClass}><a href="/w8guy">W8GUY</a></li>
</ul>
