---
import RoundImage from '../widgets/round-image.astro'

const { imageUrl, imageAltText, title, url } = Astro.props
---

<section class="flex flex-row items-start pb-16">
  <RoundImage imageUrl={imageUrl} altText={imageAltText} link={url} />
  <div class="px-8 pt-6">
    <a href={url}>
      <h1
        class="font-serif text-xl pb-2 hover:text-programer-peach transition-colors duration-300 ease-in-out"
      >
        {title}
      </h1>
    </a>
    <p class="text-lg">
      <slot />
    </p>
  </div>
</section>
