---
const liClass = 'flex-shrink text-center pr-8 hover:text-programer-peach transition-colors duration-300 ease-in-out'
---

<nav class="container max-w-full bg-royse-red text-not-white pl-8 p-6 font-extrabold font-sans tracking-widest">
  <ul class="flex flex-row align-middle">
    <li class={liClass}><a href="/">Home</a></li>
    <li class={liClass}><a href="/about">About</a></li>
    <li class={liClass}><a href="/blog">The Guy Wire</a></li>
    <li class={liClass}><a href="/renaissance-guy">Renaissance Guy</a></li>
    <li class={liClass}><a href="/w8guy">W8GUY</a></li>
    <li class="flex-grow text-right flex flex-row-reverse">
      <a href="https://www.youtube.com/@guyroyse" class="pl-2 pr-1">
        <img src="/images/youtube-logo.svg" class="size-6" />
      </a>
      <a href="https://x.com/guyroyse" class="pl-2 pr-1">
        <img src="/images/x-logo.svg" class="size-6" />
      </a>
      <a href="https://github.com/guyroyse/" class="pl-2 pr-1">
        <img src="/images/github-logo.svg" class="size-6" />
      </a>
    </li>
  </ul>
</nav>
