---
const liClass = 'flex-shrink text-center px-4'
---

<nav class="container max-w-full bg-royse-red text-not-white p-4 font-bold text-lg">
  <ul class="flex flex-row">
    <li class={liClass}><a href="/">Home</a></li>
    <li class={liClass}><a href="/blog">Blog</a></li>
    <li class={liClass}><a href="/guy-wired">Guywired</a></li>
    <li class={liClass}><a href="/renaissance-guy">Renaissance Guy</a></li>
    <li class={liClass}><a href="/w8guy">W8GUY</a></li>
    <li class={liClass}><a href="/about">About</a></li>
    <li class="flex-grow text-right px-4 flex flex-row-reverse">
      <a href="https://x.com/guyroyse" class="px-1">
        <img src="/images/x-logo.svg" class="size-6" />
      </a>
      <a href="https://github.com/guyroyse/" class="px-1">
        <img src="/images/github-logo.svg" class="size-6" />
      </a>
    </li>
  </ul>
</nav>
