---
import RoundImage from '../widgets/round-image.astro'

import { getEntry } from 'astro:content'

const { slug } = Astro.props

const entry = await getEntry('blog', slug)
const title = entry.data.title
const image = entry.data.image
const altText = entry.data.altText

const dt = entry.data.date

const year = dt.getUTCFullYear().toString()
const month = (dt.getUTCMonth() + 1).toString().padStart(2, '0')
const day = dt.getUTCDate().toString().padStart(2, '0')
const date = `${year}-${month}-${day}`

const monthString = Intl.DateTimeFormat('en-US', { month: 'long' }).format(dt)
const dayString = Intl.DateTimeFormat('en-US', { day: 'numeric' }).format(dt)
const yearString = Intl.DateTimeFormat('en-US', { year: 'numeric' }).format(dt)
const dateString = `${monthString} ${dayString}, ${yearString}`

const permalink = `/${year}/${month}/${day}/${slug}`

const { Content } = await entry.render()
---

<article class="flex flex-row items-start my-12">
  <RoundImage imageUrl={image} altText={altText} link={permalink} />
  <div class="px-8 pt-4">
    <a href={permalink}>
      <h1
        class="font-serif mb-2 text-xl text-programer-peach hover:text-royse-red-light transition-colors duration-300 ease-in-out"
      >
        {title}
      </h1>
    </a>
    <Content />
    <p class="pb-6 text-royse-red-light text-right font-semibold text-lg">
      — <time datetime={date}>{dateString}</time>
    </p>
  </div>
</article>
