---
import Base from '../../layouts/base.astro'
import RoundImage from '../../components/widgets/round-image.astro'
import { getEntry } from 'astro:content'

const { page } = Astro.props

const entry = await getEntry('pages', page)
const title = entry.data.title
const image = entry.data.image
const altText = entry.data.altText

const permalink = `/${page}`

const { Content } = await entry.render()
---

<Base title={title}>
  <article class="flex flex-row items-start my-12">
    <RoundImage imageUrl={image} altText={altText} link={permalink} />
    <div class="px-8 pt-4">
      <a href={permalink}>
        <h1
          class="font-serif mb-2 text-xl text-programer-peach hover:text-royse-red-light transition-colors duration-300 ease-in-out"
        >
          {title}
        </h1>
      </a>
      <Content />
    </div>
  </article>
</Base>
